<nav class="navbar navbar-expand-md navbar-dark " style="background-color:#666666"#2B65EC"> <!-- fixed-top -->
        <ul class="nav nav-pills">
        <li class="nav-item">
    <a class="nav-link" href="#">TTM4115</a>
  </li>
        
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Preparation</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">1. Introduction</a>
      <a class="dropdown-item" href="#">2. Deployments</a>
      <a class="dropdown-item" href="#">3. Use Cases</a>
      <a class="dropdown-item" href="#">4. Requirements</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Deliveries</a>
    <div class="dropdown-menu">
      
      
      <a class="dropdown-item" href="#">Project</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">I1</a>
      <a class="dropdown-item" href="#">T1</a>
      <a class="dropdown-item" href="#">I2</a>
    </div>
  </li>
  
  
  <li class="nav-item">
    <a class="nav-link" href="#">Blackboard</a>
  </li>
</ul>

<div class="navbar-nav flex-row ml-md-auto d-none d-md-flex"></div>
             <a class="navbar-brand" href="#">
      	<svg width="100" height="30">
      		<image xlink:href="https://innsida.ntnu.no/innsida-theme/images/ntnu-graphics/ntnu_logo_white.svg" 
      		src="https://innsida.ntnu.no/innsida-theme/images/ntnu-graphics/ntnu_logo_white.png" width="100%" height="100%"></image>
      	</svg>
      </a>
    </nav>
